DATABASE_URL="postgresql://root:root@localhost:5432/root?schema=public"
APP_URL="http://localhost:3000"
WS_URL="ws://localhost:3001"
NEXTAUTH_URL="http://localhost:3000/api/auth"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
NODE_ENV=""
NEXTAUTH_SECRET=""